@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* reset css */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

:root {
    --primary-text-color: ;
    --secondary-text-color: #dec2eb;
    --accent-color: ;
    --accent-color-dark: ;
    --padding-text-inline: ;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.container {
    max-width: 1255px;
    overflow-x: hidden;
    margin: auto;
}

.flex {
    display: flex;
}

ul {
    list-style: none;
}



a {
    text-decoration: none;
    
}


/* utility css - css class while customizing element */
.sub-foot-link {
    text-decoration: underline;

}


/* main css for ids and sections */

.nav-container {
    justify-content: space-between;
}

#header {

    background-image: linear-gradient(#290248, #411762);
    background-size: 87%;
    background-position: center;
    background-repeat: repeat;
    background-color: #3c006b;
    padding-block: 60px;
}
#title-bg{
    background-image: url(images/asset\ 15.svg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.animate-head::before{
    content: '';
    text-decoration: none;
    animation: animate infinite 12s;
    transition: 0.2s ease-in-out;
}

@keyframes animate{
    0%{
        content: 'Fruits';
        text-decoration: none;
        color: rgb(242, 120, 76);
    }
    40%{
        content: 'Groceries';
        color: white;
        text-decoration: none;
    }
    60%{
        content: 'Snacks';
        color: rgb(242, 120, 76);
        text-decoration: none;
    }
    80%{
        content: 'Milk';
        text-decoration: none;
        color: rgb(242, 120, 76);
    }
   
    100%{
        content: 'Veggies';
        color: rgb(242, 120, 76);
        text-decoration: none;
    }
}

.navbar {
    height: 30;
}

.logo img {
    width: 65%;
}

.nav-list {
    gap: 50px;
    font-size: 20px;
    align-items: center;
    text-align: left;
}

.nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
}
.nav-link:hover{
    color: var(--secondary-text-color);
}

.toggle{
    display: none;
}
.nav-con {
    padding-block: 90px;
}

.left-area {
    flex-direction: column;
    width: 50%;
    gap: 40px;

}

.left-area h1 {
    font-size: 6rem;
    line-height: 7rem;
    color: white;
}

.download {
    gap: 50px;
}

.download-btn img {

    width: 117%;
}

.nav-con{
   overflow-x: hidden;
}

.title-img {
    width: 65%;
    position: absolute;
}
.title-img-2{
    width: 120%;
    position: relative;
    left: 15%;
}

#process {
    padding-block: 80px;
    background-color: #3c006b;
}

.pov {
    border: 3px solid #ffccd9;
    border-radius: 30px;
    padding-block: 50px;

}

.pov h3 {
    color: #dec2eb;
    text-align: center;
}

.cardbox {
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;

}

.card {
    text-align: center;
    color: white;
}

.card img {
    max-height: 153px;
}

#testimonials {
    padding: 80px 0;
    background-color: #3c006b;
    color: #dec2eb;
}

.customers {
    flex-wrap: wrap;
    gap: 60px;
    justify-content: space-between;
}

.cuscard {
    width: 47%;
    flex-direction: column;
    padding: 35px 35px;
    font-size: 30px;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    font-weight: 700;
}

.cuscard p {
    padding-bottom: 20px;
}

.testhead h3 {
    text-align: center;

}

#footer {

    background-image: linear-gradient(#290248, #411762);
    background-size: 87%;
    background-position: center;
    background-repeat: repeat;
    background-color: #3c006b;
    padding-block: 60px;
}
#footer-bg{
    background-image: url(images/asset\ 15.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ul-item {
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin-top: 50px;
}

.ul-item a {
    color: white;
    font-size: 20px;
    font-weight: 500;
}
.ul-item a:hover{
    color: var(--secondary-text-color);
}
.ul-item i{
    margin-right: 7px;
}
.foot img {
    display: block;
    width: 9%;
}

.sub-footer {
    margin-top: 50px;
    gap: 35px;
    color: #dec2eb;
    font-size: 20px;
    flex-wrap: wrap;
}

.sub-footer a {
    color: #dec2eb;
}

.slider {
    align-items: center;
    padding-block: 30px;

}

.slider h1 {
    margin-right: 200px;
    color: white;
}

#locations {
    background-color: #290248;
    padding-block: 75px;
    color: #dec2eb;
    text-align: center;
}

span {
    text-decoration: underline;
    color: #dec2eb;
}



/* delivery-area */
#delivery-locations
{
    background-color: #290248 ;
    color: white;
    padding-block: 100px;
}
.delivery-area{
    color: white;
    background-image: url(images/asset\ 15.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
   
}
.delivery-area h1
{
    text-align: center;
    padding-top: 70px;
    font-size: 5.5rem;
    font-weight: 500;
}

.locality{
     flex-wrap: wrap;
     justify-content: space-between;
     gap: 40px;
}

.city{
    flex-direction: column;
    width: calc(50% - 20px);
    padding: 0 20px;
}

.name{
    align-items: center;

}

.name h1{
    display: inline;
}
.description{
    text-align: left;
}

/* Customer Support */

.customer-support-area{
    color: white;
    background-image: url(images/asset\ 15.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
   
}
.customer-support-area h1{
    
    text-align: center;
    padding-top: 70px;
    font-size: 5.5rem;
    font-weight: 500;
}

#customer-support-desc{
    background-color: #290248;
    color: white;
    text-align: center;
    padding: 60px 120px;
}
.support-item{
    justify-content: space-evenly;
}
.support-link{
    padding: 0 20px;
}

.support-link a{
   color: white;
}
